@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: powderblue;
  text-align: center;
  color: teal;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/1283436076/vector/natural-ocean-bottom-background.jpg?s=612x612&w=0&k=20&c=MC1Nz1XBDgX93ozHY-0Z33ol6mHgfRPOf8f27ARij1I=");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid teal;
}



